.container {
    display: grid;
    grid-template-columns: repeat(auto-fill,230px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
    background: rgba(25, 12, 37, 0.712);

}

@media ( max-width:560px){
    .container{
        grid-template-columns: 100%;
    }
}