.movieCard{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5;
    background-color: rgb(61, 26, 117);
    border-radius: 6px;
    box-shadow: 0 20px 40px -14px rgb(0, 0, 0);
}

.movieCard:hover{
   opacity: 0.5;
   transform: translateY(-20px);
    transition: 3.50;
}

@media (max-width:560px) {
    .movieImage{
        width: 90%;
        height: auto;
    }
}

.movieTittle{
    
}

